@page
@model VijayLaxmi.Areas.Admin.Pages.HR.Employees.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Employee</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.Designation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.Designation)
        </dd>
       
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.Contactno)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.Contactno)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.Employeetype)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.Employeetype)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.Addresslocal)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.Addresslocal)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.AddressPermanent)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.AddressPermanent)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.State)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.State)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.City)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.City)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.AAdharno)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.AAdharno)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.Pancard)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.Pancard)
        </dd>
       
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.EPF)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.EPF)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.Site)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.Site)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.AddedDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.AddedDate)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Employee.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
