@page
@model VijayLaxmi.Areas.Admin.Pages.Requirements.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Requirement</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Requirement.SiteId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Requirement.SiteId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Requirement.ItemName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Requirement.ItemName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Requirement.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Requirement.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Requirement.Qty)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Requirement.Qty)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Requirement.Hostatus)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Requirement.Hostatus)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Requirement.SiteStatus)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Requirement.SiteStatus)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Requirement.AddedDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Requirement.AddedDate)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Requirement.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
