@page
@model VijayLaxmi.Areas.Admin.Pages.Requirements.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Requirement List</h1>


<div class="table-responsive">
    <table class="table table-bordered" id="emplist">
        <thead class="text-center" style="background-color:black; color:red;">
            <tr>
                <th>
                    Site Name
                </th>
                <th>
                    Item Name
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SPRequirement[0].Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SPRequirement[0].Qty)
                </th>
                <th>
                    Ho Status
                    
                </th>
                <th>
                    Site Status
                </th>
                <th>
                    Date
                </th>
                <th>Action</th>
            </tr>
        </thead>
        @if (Model.SPRequirement.Count > 0)
        {
            <tbody>
                @foreach (var item in Model.SPRequirement)
                {
                    <tr class="text-center">
                        <td>
                            @Html.DisplayFor(modelItem => item.SiteName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ItemName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Qty)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Hostatus)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SiteStatus)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.AddedDate)
                        </td>
                        <td>
                            <a asp-page="./Edit" asp-route-id="@item.Id"><i class="material-icons" style="color:green;" title="Edit">edit</i></a> 
                            <a asp-page="./Details" asp-route-id="@item.Id"><span class="material-icons" style="color:blue;">
                                    info
                                </span></a>
                            <a asp-page="./Delete" asp-route-id="@item.Id"><i class="material-icons" style="color:red;" title="Delete">delete</i></a>
                        </td>
                    </tr>
                }
            </tbody>
        }
        else
        {
            <tbody> <tr class="text-center"><td colspan="8"><strong> No Current Requirement</strong></td></tr></tbody>
        }
    </table>
</div>